<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body style="font-size:20px; padding:50px;">

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <a href='/urls/new' style="font-size: 24px;">Create a New Short Link!</a>
    <ul>
      <% for (shortURL in urls) { %>
        <li><a href=<%= urls[shortURL].longURL %> ><%= shortURL %></a> --- <a href=<%= urls[shortURL].longURL %> ><%= urls[shortURL].longURL %></a>


          <form method="GET" action="/urls/<%= shortURL%>" style="display: inline-block">
            <input type="submit" value="Edit">
          </form>

          <form method="POST" action="/urls/<%= shortURL%>/delete" style="display: inline-block">
            <input type="submit" value="Delete">
          </form>
        </li>
        <br>
      <% }; %>
    </ul>
  </main>

  </body>
</html>