<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>

<header>
  <% include ./partials/_header %>
</header>

<main>
  <a href='/urls/new'>Link for Shortening URL</a>
  <ul>
    <% for (shortURL in urls) { %>
      <li><a href=<%= urls[shortURL].longURL %> ><%= shortURL %></a> --- <a href=<%= urls[shortURL].longURL %> ><%= urls[shortURL].longURL %></a>


        <a href=/urls/<%= shortURL %>>Edit</a>

        <form method="POST" action="/urls/<%= shortURL%>/delete">
          <input type="submit" value="Delete URL">
        </form>
      </li>
      <br>
    <% }; %>
  </ul>
</main>

</body>
</html>