<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body style="font-size:20px; padding:50px;">

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <ul>
        <li><a href=<%= urls[shortURL].longURL %>><%= shortURL %></a> --- <%= urls[shortURL].longURL %>
          <form method="POST" action="/urls/<%= shortURL%>">
            <input id="longURL" type="text" name="longURL" value="<%= urls[shortURL].longURL %>" placeholder="http://" style="width: 300px">
            <input type="submit" value="Update URL">
          </form>
        </li>
    </ul>
  </main>

  </body>
</html>